.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

 .button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  background-color: #746eb8;
  overflow: hidden;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  line-height: 1.5;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
 }
 .button-micro {
  position: relative;
  z-index: 1;
  display: inline-flex;
  background-color: #746eb8;
  overflow: hidden;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  line-height: 1.5;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  border-radius: 10px;
}
.button-micro:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 4px solid #2a2d31;
  border-radius: 9px;
}

.button::after {
  position: absolute;
  inset: 0px;
  left: 0px;
  top: 0px;
  z-index: -1;
  transform-origin: top right;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  content: var(--tw-content);
  transition-duration: 300ms;
}

.button:hover::after {
  content: var(--tw-content);
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
/* Main Wrapper */

.main-wrapper {
  overflow: hidden;
}

.global-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1332px;
  }
}


.faq-button {
  border-radius: 50px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(234 237 240 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  /* font-weight: 700; */ 
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

/* ...::: Custom Gradient :::... */
.blue-gradient-1 {
  background: radial-gradient(50% 50% at 85% 25%, #3425FE 5%, #2D4190 100%);
  filter: blur(105px);
}

.purple-gradient-angle {
  background: radial-gradient(70% 50% at 100% 10%, #7932b7  50%, transparent 100%);
  filter: blur(60px);
}

.puple-light-gradient-3 {
  background: radial-gradient(50% 50% at 100% 0%, #4D2190 0%, #4D2190 100%);
  filter: blur(125px);
}


@layer utilities {
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    background-color: #746eb8 !important; /* Set your desired background color */
    -webkit-text-fill-color: #e2e2e2 !important; /* Force white text color */
    text-decoration: none !important; /* Remove any underlines */
    transition: background-color 5000s ease-in-out 0s; /* Prevent autofill flicker */
   
  }
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  #0c1015; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7a7a7a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8; 
}

 
 
