@import url(./pre-custom-style.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Post Custom Styles */
@font-face {
  font-family: 'MyCustomFont-Helvetica-NeueThin';
  src:  url('../assets/fonts/HelveticaNeueThin.otf') format('woff');    
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFont-Helvetica-NeueLight';
  src: url('../assets/fonts/HelveticaNeueLight.otf') format('woff');    
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont-Helvetica-NeueRoman';
  src: url('../assets/fonts/HelveticaNeueRoman.otf') format('woff');    
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont-Helvetica-NeueMedium';
  src: url('../assets/fonts/HelveticaNeueMedium.otf') format('woff');    
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  font-family: 'MyCustomFont-Helvetica-NeueLight', Arial, sans-serif;
  --tw-text-opacity: 1;
  color:#e2e2e2;
  background-color: #0c1015;
}



.sub-title{
  font-family: 'MyCustomFont-Helvetica-NeueLight', Arial, sans-serif;
  font-size:16px;
 
}
.button, .button-micro{
  font-family: 'MyCustomFont-Helvetica-NeueMedium', Arial, sans-serif;
}
p {
  font-family: 'MyCustomFont-Helvetica-NeueRoman', Arial, sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
  font-family: 'MyCustomFont-Helvetica-NeueMedium';
 
}
h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  font-family: 'MyCustomFont-Helvetica-NeueMedium';
}
h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: 'MyCustomFont-Helvetica-NeueMedium';
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}



